* {
    box-sizing: border-box;
}

/*deco-phone*/

.wrap {
    margin: 100px;
    width: 460px;
    height: 675px;
}
.main {
    background: #000000;
    padding: 21px 30px 20px;
    position: relative;
}
.header {
    padding-right: 136px;
    background: url("../img/deco-phone/header-bg.png") no-repeat right;
    height: 71px;
    display: inline-block;
}
h1.deco-phone-h1 {
    font-size: 20px;
    letter-spacing: -2px;
    color: #ffffff;
    font-weight: lighter;
}
span.h1-red {
    color: #ec1118;
}
p.header-p {
    color: #808080;
    font-size: 12px;
    letter-spacing: -1.5px;
    margin-top: 11px;
    line-height: 14px;
}
ul.tab-bar {
    margin-top: 17px;
    position: relative;
}
ul.tab-bar::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #ec1118;
    z-index: 1;
}
ul.tab-bar li {
    display: inline-block;
    text-align: center;
}
ul.tab-bar li:last-child {
    margin-left: -8px;
}
ul.tab-bar li a {
    font-size: 12px;
    color: #4d4d4d;
    letter-spacing: -2.5px;
    padding: 4px 25px;
    border-top: 1px solid #1a1a1a;
    border-right: 1px solid #1a1a1a;
    min-width: 139px;
    line-height: 24px;
}
ul.tab-bar li.deco-phone-2-li a {
    padding: 2px 50.5px;
}
ul.tab-bar li a.active {
    border: 2px solid #ec1118;
    border-bottom: 2px solid #000000;
    padding: 2px 50.5px;
    color: #ffffff;
    position: relative;
    min-width: 143px;
    line-height: 24px;
    z-index: 10;
}
ul.tab-bar li.deco-phone-2-li a.active {
    padding: 2px 25px;
}
ul.tab-bar li a.active::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: -2px;
    width: 2px;
    height: 2px;
    background: #ec1118;
}
ul.tab-bar li a.active::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    right: -2px;
    width: 2px;
    height: 2px;
    background: #ec1118;
}
h2.section-h2 {
    margin-top: 32px;
    font-size: 13px;
    letter-spacing: -1px;
    color: #ffffff;
}
.section-first-box {
    margin-top: 22px;
    padding: 20px 47px 21px 36px;
    background: #111111;
    border-radius: 5px;
    min-height: 112px;
}
.section-second-box {
    margin-top: 10px;
    background: #111111;
    border-radius: 5px;
    padding: 14px 0 11px 22px;
    min-height: 92px;
}
.section .section-second-box:nth-child(5) {
    padding: 17px 0 11px 28px;
}
.section .section-second-box:nth-child(6) {
    padding: 20px 0 20px 30px;
    min-height: 124px;
}
span.step-01, span.step-02, span.step-03, span.step-04 {
    font-size: 9px;
    color: #ffffff;
    background: url("../img/deco-phone/music-icon.png") no-repeat;
    padding-top: 60px;
    width: 37px;
    display: inline-block;
}
span.step-02 {
    background: url("../img/deco-phone/won-icon.png") no-repeat;
    padding-top: 58px;
    width: 51px;
    text-align: center;
}
span.step-03 {
    background: url("../img/deco-phone/chatting-icon.png") no-repeat;
    padding-top: 55px;
    width: 52px;
    text-align: center;
}
span.step-04 {
    background: url("../img/deco-phone/download-icon.png") no-repeat;
    padding-top: 60px;
    margin-top: 10px;
    width: 46px;
    text-align: center;
}
.list-in-section {
    display: inline-block;
    vertical-align: top;
    margin-left: 37px;
}
h3.list-h3 {
    font-size: 12px;
    color: #ec1118;
    font-weight: lighter;
}
ol.list {
    color: #ffffff;
    list-style: decimal inside;
    font-size: 11px;
    text-indent: 1px;
    letter-spacing: -1.5px;
    margin-top: 15px;
}
div.section-second-box ol.list {
    line-height: 13px;
}
ol.list li:not(:first-child) {
    margin-top: 5px;
}
ol.list li span.red-button {
    background: url("../img/deco-phone/list-red-button.png") no-repeat left;
    padding-left: 26px;
    margin-left: 2px;
    display: inline-block;
    height: 13px;
    vertical-align: text-bottom;
}
ol.list li span.after-br {
    text-indent: 8px;
    display: block;
}
a.popup-close {
    background: url("../img/deco-phone/phone-popup-close.png") no-repeat;
    width: 32px;
    height: 32px;
    display: block;
    position: absolute;
    top: 35px;
    right: 24px;
}

/*deco-phone-2*/

.phone-2-section-box {
    margin-top: 23px;
    padding: 23px 0 25px 30px;
    background: #111111;
    min-height: 445px;
}
ol.phone-2-list {
    list-style: decimal-leading-zero inside;
    font-size: 11px;
    color: #ffffff;
    letter-spacing: -0.5px;
    line-height: 17px;
}
ol.phone-2-list li:not(:first-child) {
    margin-top: 9px;
}
ol.phone-2-list li span.after-br {
    text-indent: 18px;
    display: block;
}