* {
    box-sizing: border-box;
}
.wrap {
    margin: 54px 45px 76px 35px;
    position: relative;
}

/*top-left*/

.main-top-left, .main-top-right, .main-bottom-right, .main-bottom-left, .main-center, .first-layer, .second-left-layer, .third-left-layer, .third-center-layer, .third-right-layer, .windows-left-first, .windows-left-second, .windows-left-third, .windows-center-first, .windows-center-second {
    width: 770px;
    background: #c6c6c6;
    padding: 3px;
    display: inline-block;
    position: absolute;
}
.main-top-left, .first-layer {
    top: 0;
    left: 0;
}
h2.popup-h2 {
    background: #ffffff;
    padding-left: 15px;
    font-size: 16.5px;
    color: #959595;
    letter-spacing: -2px;
    line-height: 46px;
}
h2.popup-h2 span.black-text {
    background: url("../img/my-gifticon/h2-deco.png") no-repeat left center;
    padding-left: 10px;
    color: #000000;
}
.top-left-content, .top-right-content, .bottom-left-content, .center-content, .first-layer-content, .second-left-content, .third-left-content, .third-center-content, .windows-left-first-content, .windows-left-second-content, .windows-center-second-content {
    background: #ffffff;
    margin-top: 1px;
    padding: 20px 19px 20px 20px;
}
table.my-gifticon-table {
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    width: 100%;
}
h3.table-caption {
    font-size: 0px;
}
table.my-gifticon-table tr th {
    line-height: 32px;
    background: #f5f5f5;
    font-size: 12px;
    letter-spacing: -1px;
    color: #7e7e7e;
    font-weight: lighter;
    text-align: left;
    padding-left: 35px;
}
table.my-gifticon-table tr th:first-child {
    padding-left: 21px;
}
table.my-gifticon-table tr:not(:last-child) {
    border-bottom: 1px solid #f0f0f0;
}
table.my-gifticon-table tbody tr td {
    font-size: 12px;
    color: #646464;
    padding-left: 16px;
    line-height: 32px;
    letter-spacing: -1px;
}
table.my-gifticon-table tr td.bold-text {
    font-weight: bold;
}
table.my-gifticon-table tr td.orange-text {
    color: #ff5f28;
}
.top-left-bottom-content {
    margin-top: 30px;
    padding-left: 1px;
}
ul.top-left-list {
    font-size: 14.7px;
    letter-spacing: -1px;
    color: #6c6c6c;
    font-weight: bold;
    background: url("../img/my-gifticon/list-marker.png") no-repeat left center;
    padding-left: 7px;
}
.top-left-small-table {
    margin-top: 10px;
}
.button-content {
    text-align: center;
    background: #ffffff;
    margin-top: 1px;
    line-height: 46px;
}
button.top-left-button, button.cancel-button {
    border: none;
    background: none;
    color: #ffffff;
    font-size: 12.5px;
    line-height: 25px;
    letter-spacing: -2px;
}
span.orange-button-center {
    display: inline-block;
    background: url("../img/my-gifticon/orange-button-center.png") repeat-x;
}
span.orange-button-left {
    display: inline-block;
    background: url("../img/my-gifticon/orange-button-left.png") no-repeat;
    padding-left: 18px;
}
span.orange-button-right {
    display: inline-block;
    background: url("../img/my-gifticon/orange-button-right.png") no-repeat right;
    padding-right: 18px;
}

/*main-top-right*/

.main-top-right {
    left: 891px;
}
.top-right-content {
    padding: 20px;
}
table.my-gifticon-table thead tr th {
    text-align: center;
    padding-left: 0;
}

/*main-bottom-right*/

.main-bottom-right {
    width: 700px;
    top: 318px;
    left: 891px;
}
.top-right-list {
    padding-left: 2px;
    position: relative;
}
.top-right-list ul {
    font-size: 12px;
    color: #686868;
    line-height: 19px;
}
ul li p.list-marker {
    background: url("../img/my-gifticon/list-marker.png") no-repeat left center;
    padding-left: 8px;
}
.top-right-list ul li span.after-br {
    display: block;
    text-indent: 8px;
}
button.excel-download {
    border: none;
    background: none;
    margin-top: 4px;
    position: absolute;
    right: 0;
    line-height: 19px;
    font-size: 11px;
    color: #878787;
    letter-spacing: -1px;
}
span.excel-center {
    display: inline-block;
    background: url("../img/my-gifticon/excel-download.png") repeat-x;
}
span.excel-left {
    display: inline-block;
    background: url("../img/my-gifticon/excel-download-left.png") no-repeat;
    padding-left: 26px;
}
span.excel-right {
    display: inline-block;
    background: url("../img/my-gifticon/excel-download-right.png") no-repeat right;
    padding-right: 11px;
}
.bottom-right-content {
    margin-top: 32px;
}
select.others {
    border: 1px solid #d8d8d8;
    color: #646464;
    font-size: 12px;
    line-height: 18px;
    padding: 0 50px 0 3px;
}
.bottom-right-content table.my-gifticon-table tr:last-child th {
    text-align: center;
    padding-left: 0;
}
input.find-file-text {
    border: 1px solid #d8d8d8;
    color: #646464;
    font-size: 12px;
    line-height: 19px;
    padding: 0 75px 0 8px;
}
.filebox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.filebox {
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    display: inline-block;
    line-height: 20px;
    margin-left: 1px;
}
label {
    cursor: pointer;
}
.filebox label {
    padding: 3px 10.5px;
}
table.my-gifticon-table td p.td-p {
    line-height: 15px;
}
table.my-gifticon-table td p.td-p span.line {
    border-left: 2px solid #646464;
    padding: 0 1px;
}
.bottom-right-content table.my-gifticon-table tr:last-child th {
    vertical-align: middle;
}
.bottom-right-content table.my-gifticon-table tr:last-child td {
    line-height: 29px;
    padding-bottom: 6px;
}
span.orange-arrow-right {
    display: inline-block;
    background: url("../img/my-gifticon/orange-arrow-right.png") no-repeat right;
    padding-right: 21px;
}
button.cancel-button {
    color: #727272;
}
span.cancle-button-center {
    display: inline-block;
    background: url("../img/my-gifticon/cancel-button.png") repeat-x;
}
span.cancle-button-left {
    display: inline-block;
    background: url("../img/my-gifticon/cancel-button-left.png") no-repeat;
    padding-left: 17px;
}
span.cancle-button-right {
    display: inline-block;
    background: url("../img/my-gifticon/cancel-button-right.png") no-repeat right;
    padding-right: 19px;
}
.bottom-right-content table.my-gifticon-table th label.take-file {
    padding: 25px 9.5px;
}

/*main-bottom-left*/

.main-bottom-left {
    width: 420px;
    top: 704px;
}
.bottom-left-content, .third-center-content {
    padding: 20px 25px 20px 20px;
}
.bottom-left-content table.my-gifticon-table tbody tr td {
    padding-left: 10px;
}
.bottom-left-content table.my-gifticon-table input.personal-write {
    border: 1px solid #d8d8d8;
    padding: 2.5px 6px; 
}
.bottom-left-content table.my-gifticon-table label.bottom-left-text-click {
    padding: 8.5px 68px 8.5px 0;
}
.bottom-left-content table.my-gifticon-table label.phone-number-text {
    padding: 8.5px 32px 8.5px 0;
}
.bottom-left-content table.my-gifticon-table label.email-text {
    padding: 8.5px 57px 8.5px 0;
}
td select.date, td select.other-group {
    border: 1px solid #e5e5e5;
    color: #646464;
    padding: 1px 6px 1px 13px;
}
td select.other-group {
    padding: 1px 61px 1px 6px;
}
.bottom-left-content table.my-gifticon-table tr:last-child td:last-child {
    padding: 5px 6px 9px 10px;
}
th label.memo-click{
    padding: 37px 68px 37px 0;
}
td input.memo {
    border: 1px solid #d8d8d8;
    width: 100%;
    height: 75px;
}

/*main-center*/

.main-center {
    width: 400px;
    top: 704px;
    left: 449px;
}
.center-content {
    padding: 20px 62px 20px 20px;
}
.center-content ul {
    font-size: 12px;
    letter-spacing: -1px;
    color: #686868;
}
.center-content input.group-name-box {
    margin-top: 10px;
    height: 20px;
    width: 100%;
    border: 1px solid #d8d8d8;
}

/*html 2 first-layer*/

.first-layer {
    width: 700px;
}
.first-layer-content {
    padding: 20px 24px 20px 20px;
}
ol.bold-main-list, ul.square-marker {
    list-style: decimal inside;
    font-size: 12px;
    font-weight: bold;
    color: #464646;
    letter-spacing: -1px;
    line-height: 22px;
}
ul.square-marker {
    list-style: url("../img/my-gifticon/list-marker.png") inside;
    font-weight: lighter;
    color: #646464;
    line-height: 20px;
    margin-left: 4px;
}
ol.bold-main-list li ul.square-marker li dl.choice-example {
    margin-left: 6px;
}
ol.bold-main-list li ul.square-marker li dl.choice-example dt {
    background: url("../img/my-gifticon/list-line-marker.png") no-repeat left center;
    padding-left: 11px;
}
ol.bold-main-list li ul.square-marker li dl.choice-example dd {
    text-indent: 65px;
    margin-top: -19px;
}
ol.bold-main-list li ul.square-marker li dl.choice-example dd:nth-child(5) {
    margin-top: 0px;
}
ol.bold-main-list li ul.square-marker li dl.choice-example dd:last-child {
    text-indent: 79px;
} 
ol.bold-main-list li:not(:first-child) {
    margin-top: 15px;
}
button.popup-close {
    background: none;
    border: none;
    position: absolute;
    top: 19px;
    right: 20px;
    width: 13px;
    height: 13px;
    display: block;
}
span.popup-close-x {
    background: url("../img/my-gifticon/popup-x.png") no-repeat;
    display: inline-block;
    width: 13px;
    height: 13px;
}

/*second-left-layer*/

.second-left-layer {
    width: 700px;
    height: 745px;
    top: 575px;
    left: 0;
}
.second-left-content {
    padding: 20px 90px 20px 20px;
}
span.indent {
    display: block;
    text-indent: 12px;
}
dl.square-marker-dl {
    font-weight: lighter;
    color: #646464;
    line-height: 20px;
    margin-left: 4px;
}
dl.square-marker-dl dt {
    background: url("../img/my-gifticon/list-marker.png") no-repeat left center;
    padding-left: 7px;
}
dl.square-marker-dl span.indent {
    text-indent: 7px;
    display: block;
}
dl.square-marker-dl dd {
    text-indent: 50px;
    margin-top: -19px;
}
dl.square-marker-dl dd:last-child {
    text-indent: 56px;
}
ol.bold-main-list li:nth-child(7) span.indent {
    text-indent: 16px;
}
ol.bold-main-list li:last-child dl.square-marker-dl dd {
    text-indent: 63px;
}

/*second-right-layer*/

.wrap div.second-left-layer:nth-child(3) {
    left: 720px;
    top: 575px;
}

/*third-left-layer*/

.third-left-layer {
    width: 420px;
    top: 1350px;
    left: 0;
}
.third-left-content {
    padding: 20px 7px 24px 20px;
}
.third-left-layer .third-left-content ul.square-marker li:last-child {
    margin-top: 9px;
}
.third-left-content-list {
    padding-bottom: 16px;
    border-bottom: 1px dotted #d0d0d0;
}
.change-number {
    margin-top: 13px;
}
input.gray-text-box, input.white-text-box {
    border: 1px solid #d5d5d5;
    background: #eaeaea;
    font-size: 11px;
    color: #646464;
    line-height: 20px;
    padding: 0 8px 0 10px;
}
input.white-text-box {
    background: #ffffff;
}
span.change-number-arrow {
    display: inline-block;
    background: url("../img/my-gifticon/change-number-&gt.png") no-repeat;
    height: 10px;
    width: 8px;
    margin: 0 1px 0 4px;
}

/*third-center-layer*/

.third-center-layer {
    width: 420px;
    top: 1350px;
    left: 440px;
}
ul.square-marker li p.reference {
    text-indent: 12px;
    font-size: 8px;
    color: #a9a9a9;
}
p.reference span.reference-orange {
    color: #ff5f28;
}
.third-center-top-table {
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dotted #d0d0d0;
}
.third-center-bottom-table {
    margin-top: 16px;
}
.third-center-bottom-table table.my-gifticon-table tr:first-child th:first-child {
    vertical-align: middle;
    text-align: center;
    padding-left: 0;
}
.third-center-bottom-table table.my-gifticon-table tr:first-child th {
    padding-left: 21px;
}

/*third-right-layer*/

.third-right-layer {
    width: 500px;
    top: 1350px;
    left: 890px;
}
.third-right-content-list {
    padding: 20px 15px 20px 20px;
}
.third-right-content-list ol.bold-main-list li:nth-child(2) ul.square-marker li {
    letter-spacing: -1.7px;
}

/*windows-left-first*/

.windows-left-first {
    width: 600px;
    top: 0;
    left: 0;
}
.phone-bg {
    background: url("../img/my-gifticon/girl-phone.png") no-repeat left;
    width: 100%;
    min-height: 349px;
    padding-left: 216px;
}
.phone-bg ul.square-marker {
    margin-left: 0;
    font-size: 14.7px;
    font-weight: bold;
}
div.red-table {
    margin-top: 10px;
}
table.red-table-th {
    border-top: 1px solid #d8b19b;
    width: 100%;
    font-size: 12px;
    color: #969696;
    line-height: 32px;
    background: #f4e9e3;
}
table.red-table-th thead tr th div.th-line {
    background: url("../img/my-gifticon/red-table-th-line.png") no-repeat right center;
}
table.red-table-td {
    width: 100%;
}
table.red-table-td tbody tr td {
    line-height: 42px;
    padding-left: 25px;
    color: #646464;
    font-size: 12px;
}
table.red-table-td tbody tr td:last-child {
    padding-left: 21px;
}
table.red-table-td tbody tr:last-child {
    border-bottom: 2px solid #ead6ca;
}
table.red-table-td tbody tr:nth-child(even) {
    background: #fcf9f8;
}
table.red-table-td tbody tr {
    border-top: 1px solid #ead6ca;
}
div.red-table-td-scroll {
    max-height: 131px;
    overflow-y: scroll;
}

/*windows-left-second*/

.windows-left-second {
    top: 500px;
    left: 0;
    width: 245px;
}
.dunkin-phone {
    background: url("../img/my-gifticon/dunkin-phone.png") no-repeat;
    width: 196px;
    min-height: 349px;
}

/*windows-left-third*/

.windows-left-third {
    top: 500px;
    left: 280px;
    width: 245px;
}
.girl-phone {
    background: url("../img/my-gifticon/girl-phone.png") no-repeat;
    width: 196px;
    min-height: 349px;
    position: relative;
}input.phone-textbox {
    width: 166px;
    line-height: 27px;
    font-size: 12px;
    color: #646464;
    padding-left: 5px;
    border: 1px solid #e5e5e5;
    background: #f8f8f8;
    position: absolute;
    bottom: 63px;
    left: 13px;
}

/*windows-center-first*/

.windows-center-first {
    width: 600px;
    top: 0;
    left: 630px;
}
input.table-bottom-text-box {
    display: block;
    margin-top: 10px;
    width: 100%;
    min-height: 52px;
    border: 1px solid #e5e5e5;
    background: #f8f8f8;
}
.phone-bg ul.square-marker:nth-child(3) {
    margin-top: 20px;
}
.phone-bg ul.square-marker:nth-child(3) li {
    position: relative;
}
.phone-bg ul.square-marker:nth-child(3) li span.limited-byte {
    position: absolute;
    top: 58px;
    right: 6px;
    font-size: 12px;
    font-weight: lighter;
}

/*windows-center-second*/

.windows-center-second {
    width: 600px;
    top: 500px;
    left: 630px;
}
.windows-center-second-content table {
    width: 100%;
    font-size: 12px;
    color: #969696;
    white-space: nowrap;
}